@tailwind base;
@tailwind components;
@tailwind utilities;

body{
}


@font-face {
    font-family: 'Poppins';
    src: url('Poppins-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }
  
  body {
    font-family: 'Poppins', sans-serif !important;
    color: white !important;
    background-color: #1A1A1D;
    height: 100vh;
    margin: 0;
  }

  .custom-button{
    background-color: #3C71FA !important;
}
